aws_profile = ""

wp_db_name = "wordpressdb"

wp_db_username = "wordpressuser"

wp_db_password = "qhRQYdCOICTJbWqHGYXTsijqh"

wp_db_charset = "utf8"

wp_db_collate = ""

wp_auth_key = "rdqY93QWjvVWm5mXXOvIHaQ1N"

wp_secure_auth_key = "kaq0WaEhLo6KWGtpKOZSBiW21"

wp_logged_in_key = "sed1H9hvNGBIFugB9zSTu7b63"

wp_nonce_key = "l1psyQEYHLw28CnHnM85gnveR"

wp_auth_salt = "zktV1h37V3FRWsrx9dqPonFbR"

wp_secure_auth_salt = "mjgRRhiTxvXyDHFv395OD7RSx"

wp_logged_in_salt = "HmnJDTeiK6pocMmCU5DehJaJp"

wp_nonce_salt = "J6pCPV5W5plEEZSy6G5h7rWzX"

wp_table_prefix = "wp_"
